  <!-- START OF POST ELEMENT -->
  <div class="post">
    <div class="rank">
      <p><%= index + 1 %></p>
    </div>
    
    <%= render partial: 'posts/controls', locals: {post: post} %>

    <div class="post-content">
      <p class="post-title">
        <%= link_to post.title, [post.subreddit, post] %>
      </p>

       <%= render partial: 'posts/author', locals: {post: post} %>
    </div>

    <div class="post-view-count">
      <i class="fa fa-eye"></i> <%= post.views.count %>
    </div>

    <div class="post-comment-count">
      <i class="fa fa-comments"></i> <%= post.comments.count %>
    </div>
  </div>
  <!-- END OF POST ELEMENT -->